// lobby.scss

.lobby {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; // Light background color
  
    .header {
      background-color: #2c3e50; // Dark header background color
      padding: 10px;
      color: white;
    }
  
    .content {
      flex-grow: 1;
      padding: 20px;
  
      .language-selection-container {
        max-width: 600px;
        margin: 0 auto;
  
        h2 {
          font-size: 2rem; // Larger font size for the heading
          color: #2c3e50; // Dark heading color
          margin-bottom: 20px;
        }
  
        .language-cards {
          display: flex;
  
          .language-card {
            flex: 1;
            background-color: #58b780; // Blue card background color
            color: white; // White text color
            border: 1px solid #2980b9; // Slightly darker border color
            padding: 20px;
            margin-right: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:last-child {
              margin-right: 0;
            }
  
            h3 {
              font-size: 1.5rem; // Larger font size for language names
              margin-bottom: 10px;
            }
  
            // Hover effect
            &:hover {
              background-color: #83dcca; // Darker blue on hover
            }
          }
        }
      }
    }
  }
  